body {
    background-color: white;
}

#header {
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
}

#container {
    background-color: rgb(59, 35, 109);
    color: white;
}

#main {
    padding: 10px;
    color: white;
}

#nav {
    width: 180px;
    color: white;
}

#tethys {
    color: white;
}
